* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

/* estilo do menu de navegação */

#cabecalho {
    background-color: gray;
}

.cabecalho__navegacao {
    text-align: center;
    padding: 1%;
}

.cabecalho__navegacao__link {
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
    color: black;
}

.cabecalho__navegacao__link:visited {
    color: black;
}

/*********************************/

/* estilo do corpo, titulo e paragrafo */

#conteudo {
    padding: 5%;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.conteudo__principal {
    display: flex;
    flex-flow: column wrap;
}

.conteudo__principal__titulo {
    text-align: center;
    font-size: 1.8em;
}

/*********************************/

/* estilo dia 1 */

.conteudo__principal__paragrafo {
    padding: 5% 0;
    font-size: 1.1em;
}

.conteudo__javascript__paragrafo {
    font-size: 1.1em;
}

/* estilo dia 2 */

.conteudo__interacao__formulario {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.conteudo__interacao__formulario input:focus {
    background-color: rgb(135, 156, 156);
}

.botao {
    width: 30%;
    flex-grow: 1;
    flex-basis: 33%;
}

.botao:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

/* estilo dia 3 */

.destino {
    margin-bottom: 5%;
}

.resposta,
.ok {
    margin-top: 2%;
}

.ok {
    margin-left: 1%;
    padding: 3px;
}

.ok:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

.resposta:focus {
    background-color: lightgray;
}

/* estilo dia 4 */

.teclado {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}

.texto_jogo {
    margin-bottom: 4%;
}

.botao_compra {
    display: inline-block;
    width: 25%;
    flex-grow: 1;
    flex-basis: 25%;
}

.botao_compra:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}

/* estilo dia 5 e dia 6*/

.setores {
    box-sizing:unset;
    border: 1px solid black;
    padding: 4%;
}

.frutas,
.laticinios,
.congelados,
.doces {
    display: flex;
    flex-flow: column wrap;
    padding: 1%;
    width: 25%;
}

.compra_mercado {
    display: block;
    margin: 1% auto;
}

.item {
    border: none;
    text-align: center;
    width: 90%;
}


.listas_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* estilos do dia 7 */

.calculadora{
    background-color: rgb(187, 182, 182);
    border-radius: 10px;
    min-width: 150px;
    width: 30%;
    border: 2px solid black;
    padding: 1%;
}

.botoes {
    display: flex;
    margin-top: 5%;
    flex-flow: row wrap;
    
}
button {
    flex-basis: 22%;
    height: 25px;
    flex-grow: 1;
    margin: 0.5%;
}

.visor{
    background-color: white;
    border: 1px solid black;
    margin: 2%;
}

.visor0 {
    border: none;
    width: 87%;
    text-align: right;
    display: inline-block;
}

.visor1 {
    border: none;
    width: 75%;
    text-align: right;
    display: inline-block;
}

.operacao {
    border: none;
    width: 10%;
    text-align: center;
    display: inline-block;
}

.ordem0 {
    order: 0;
    flex-basis: 72%;
}

.ordem1 {
    order: 1;
}

.ordem2 {
    order: 2;
}