* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#cabecalho {
    background-color: gray;
}

.cabecalho__navegacao {
    text-align: center;
    padding: 1%;
}

.cabecalho__navegacao__link {
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}

.cabecalho__navegacao__link:visited{
    color: black;
}

#conteudo {
    padding: 5%;
    margin: 0 auto;
    width: 70%;
}

.conteudo__principal {
    
}

.conteudo__principal__titulo {
    text-align: center;
    font-size: 1.8em;
}

.conteudo__principal__paragrafo {
    padding: 5% 0;
    font-size: 1.1em;
}

.conteudo__javascript__paragrafo {
    font-size: 1.1em;
}
